<!DOCTYPE HTML>

{% load static %}

<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Attainment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'learn/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'learn/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'learn/css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'learn/css/magnific-popup.css' %}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static 'learn/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'learn/css/owl.theme.default.min.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'learn/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'learn/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'learn/js/respond.min.js' %}"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-left">
						<h2 style="color:white"><i>Course_code:{{v}}</i></h2>
					</div>
					<div class="col-xs-12 text-right">
						<p class="num">Contacts:Abdul Hussain Kanchwala</p>
						<p class="num">Call: +01 976 3121 551</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-1">
						<div id="fh5co-logo"><a href="/contact">SAP<span>.</span></a></div>
					</div>
					<div class="col-xs-11 text-center menu-1">
						<ul>
							<li class="btn-cta" ><a href="/dm"><span>D.M</span></a></li>
							<li class="btn-cta"><a href="/course"><span>Courses Objective</span></a></li>
							<li class="btn-cta"><a href="/show"><span>Program Objective</span></a></li>
							<li class="btn-cta"><a href="/mapping"><span>Mapping</span></a></li>
							<li class="btn-cta"><a href="/contact"><span>Uploads</span></a></li>
							<li class="btn-cta"><a href="/weights"><span>Weights</span></a></li>
                            <li class="btn-cta"><a href="/display2"><span>Report</span></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({% static 'learn/images/qq.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Uploads</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>



	  <div style="margin-top: 700px;">
		  <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h1 style="color:blue">Upload the Excel Sheet</h1>
			  <i><b>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</b> </i>
				</div>
		  <div class="col-md-10 text-center">

			  <h2 style="color:blue">Upload Internal Result</h2>
			   <br><br><br>
			  <form action="/ind" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid black; padding: 5px;"
                   required="required"
				   class="col-md-2"
			>

			<input type="submit" value="Upload" class="btn btn-primary ">
        </form>
			  <hr></div>
		  <div class="col-md-10 text-center">
			  <h2 style="color:blue">Upload External Result</h2>
			   <br><br><br>
			  <form action="/indi" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid black; padding: 5px;"
                   required="required"
				   class="col-md-2"
			>
			<input type="submit" value="Upload" class="btn btn-primary ">
        </form>
			  </div>
	<div class="col-md-12 text-center">
		<br><br><br><br>
	<form method="POST" action="/weights">
         {% csrf_token %}
        <input type="submit" value="Result Analysis" class="btn btn-primary">
    </form>
		<br><br><br>
	</div>
	  </div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-3 fh5co-widget">
					<h4>About Learning</h4>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<h4>Learning</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Course</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Meetups</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<h4>Learn &amp; Grow</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Blog</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Handbook</a></li>
						<li><a href="#">Held Desk</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<h4>Engage us</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Marketing</a></li>
						<li><a href="#">Visual Assistant</a></li>
						<li><a href="#">System Analysis</a></li>
						<li><a href="#">Advertise</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<h4>Legal</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Find Designers</a></li>
						<li><a href="#">Find Developers</a></li>
						<li><a href="#">Teams</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">API</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{% static 'learn/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'learn/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'learn/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'learn/js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'learn/js/jquery.stellar.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'learn/js/owl.carousel.min.js' %}"></script>
	<!-- countTo -->
	<script src="{% static 'learn/js/jquery.countTo.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'learn/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'learn/js/magnific-popup-options.js' %}"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="{% static 'learn/js/google_map.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'learn/js/main.js' %}"></script>

	</body>
</html>

