<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>NBA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25"><a href="programs">NBA</a></div>

          <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a href="home" class="nav-link">Home</a></li>
                <li><a href="courses1" class="nav-link">Courses</a></li>
                <li><a href="programs" class="nav-link">Programs</a></li>
                <li><a href="#teachers-section" class="nav-link">Teachers</a></li>
              </ul>
            </nav>
          </div>

          <div class="ml-auto w-25">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                <li class="cta"><a href="#contact-section" class="nav-link"><span>Contact Us</span></a></li>
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>
      
    </header>
	<div class="site-section courses-title" id="courses-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
		  <br>
		  <br>
            <h2 class="section-title">Programs</h2>
          </div>
        </div>
      </div>
    </div>
	<div class="site-section" id="programs-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center"  data-aos="fade-up" data-aos-delay="">
            <p><strong>Accreditation is a tool that stakeholders use to monitor, assess and evaluate the standards and quality of the education a student receives at a college, university or other institution of higher learning.</strong></p>
          </div>
        </div>
        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="images/acc.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">What is accreditation?</h2>
            <p class="mb-4">Accreditation is a process of quality assurance and improvement, whereby a programme in an approved Institution is critically appraised to verify that the Institution or the programme continues to meet and/or exceed the Norms and Standards prescribed by regulator from time to time. It is a kind of recognition which indicates that a programme or Institution fulfills certain standards.</p>
          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="images/washington.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Why accreditation?</h2>
            <p class="mb-4">The purpose of the accreditation by NBA is to promote and recognize excellence in technical education in colleges and universities - at both the undergraduate and post graduate levels. Institutions, students, employers, and the public at large all benefit from the external verification of quality provided through the NBA accreditation process. They also benefit from the process of continuous quality improvement that is encouraged by the NBA's developmental approach to promote excellence in technical education.</p>
          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="images/accreditation.png" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Impact of accreditation</h2>
            <p class="mb-4">The purpose and impact of accreditation goes far beyond quality assurance of an Institution and its programs. Encourages quality improvement initiatives by Institutions. Improves student enrollment both in terms of quality and quantity. Helps the Institution in securing necessary funds.</p>

          </div>
        </div>
		
		<div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="images/nba-logo.png" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">About US</h2>
            <p class="mb-4">The purpose of the accreditation by NBA is to promote and recognize excellence in technical education in colleges and universities - at both the undergraduate and post graduate levels. Institutions, students, employers, and the public at large all benefit from the external verification of quality provided through the NBA accreditation process. They also benefit from the process of continuous quality improvement that is encouraged by the NBA's developmental approach to promote excellence in technical education.</p>
          </div>
        </div>

      </div>
    </div>
	
	
	<footer class="footer-section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Contact Us</h3>
            <p><i class="fa fa-building" style="color:#7971ea"></i> National Board of Accreditation.</p>
			<p><i class="fa fa-map-marker" style="color:#7971ea"></i>4th floor, East Tower, NBCC Place, Bhisham Pitamah Marg Pragati Vihar, New Delhi 110003, INDIA</p>
			<p><i class="fa fa-phone" style="color:#7971ea"></i> 011 24360620-22</p>
			<p><i class="fa fa-envelope" style="color:#7971ea"></i> membersecretary@nbaind.org</p>
          </div>

          <div class="col-md-3 ml-auto">
            <h3>Links</h3>
            <ul class="list-unstyled footer-links">
              <li><a href="home.html">Home</a></li>
              <li><a href="courses.html">Courses</a></li>
              <li><a href="#">Programs</a></li>
              
            </ul>
          </div>

          <div class="col-md-4">
            <p>©2019 National Board of Accreditation (NBA), India. All Rights Reserved. </p>
          </div>

        </div>
      </div>
    </footer>
		<script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-ui.js'%}"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'js/jquery.stellar.min.js'%}"></script>
  <script src="{% static 'js/jquery.countdown.min.js'%}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
  <script src="{% static 'js/aos.js'%}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js'%}"></script>
  <script src="{% static 'js/jquery.sticky.js'%}"></script>

  
  <script src="{% static 'js/main.js'%}"></script>
  </div>
  </body>
</html>